@import "home/partials/base";
@import "home/partials/typography";


@import "home/modules/colors";


#crear-map-wrapper{
	@include background-image(url(../images/crear/crear-mapa.png));
	@include background-size(cover);
	height:542px;
}

.herramienta-title{
	display:inline;
}

.button-large{
	background-color:$blue;
	color:white;
	border-radius:35px;
	padding:5% 20%;
	img{
		display:inline;
	}
	button{
		background-color:transparent;
		border:none;
	}
}