@import "home/partials/base";
@import "home/partials/typography";


@import "home/modules/colors";


#crear-map-wrapper{
	@include background-image(url(../images/crear/crear-mapa.png));
	@include background-size(cover);
	height:542px;
	position:relative;
}

.crear-herramientas{
	margin:1%;
}

.herr-butt{
	display:table-cell;
	height:50px;
	border:none;
	background-color:$blue;
	color:white;
	border-radius:30px;
	margin:1% 0;
	img{
		display:inline;
		vertical-align:middle;
	}
}

.large{
	width:200px;
	border-radius:30px;
}

.herramienta-title{
	display:inline;
}

#guardar-crear-traz{
	background-color:$green;
	color:$blue;
	border:1px solid $blue;
}

.modal-header{
	border:none;
}

#trazado{
	position:absolute;
	height:36.5%;
	top:132px;
	right:131px;
	display:none;
}

#zone{
	position:absolute;
	right:562px;
	top:233px;
	display:none;
}

#crear-ruta-char{
	width:56%;
	background-color:#EFEFEF;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(194,188,194,1);
	box-shadow: 3px 3px 5px 0px rgba(194,188,194,1);
	border-radius:15px;
	margin-top:5%;
}

.crear-ruta-info-title{
  font-weight: bold;
  border-bottom: 1px solid $blue;
  margin: 0 15px;
  line-height: 2;
  padding:1% 0;
}

.la{
	padding:0;
}

.nombre,.desc{
	margin:0;
	padding:2% 0;
	line-height:2;
	input{
		width:100%;
	}
	textarea{
		width:100%;
	}

}

.crear-input input, .crear-input textarea{
	border:none;
	border-radius:5px;
}

.crear-trazado-type{
	margin:2% 0;
	p{
	display:inline;
	padding:0 5%;
	}
}

.crear-traz-title{
	font-weight:bold;
}

.crear-char-chars{
	margin:0;
	ul{
		background-color:#fff;
		line-height:1.5em;
		padding:5%;
		height:250px;
	}
}

.crear-char-names{
	margin:2% 0;
	font-weight:bold;
}

.submit{
	text-align:center;
	margin:5% 0;
}

#crear-char-submit{
  background-color: $blue;
  border: none;
  color: white;
  padding: 2% 5%;
  border-radius: 32px;
}

#crear-pref{

  width: 20%;
  margin: 0 auto;
  top: 250px;
  background-color: #efefef;
  text-align: center;
  height: 200px;
  border-radius: 15px;
}


.zoneNum{
	background-color:$blue;
	height:50px;
	margin:0;
}

.num-zones{
	color:white;
	line-height:2;
	h4{
		padding:0 1%;
		span{
			color:$green;
			font-size:1.4em;
		}
	}
}

#add-zone-wrapper{
	margin:0 15px;
}

#zone-creator-form{
	margin:0 15px;
}

.cr-ex-ti{
	line-height:2;
}

.cet-inputs{
	margin:0;
	.row{
		margin:2% 0;
	}
	input{
		width:100%;
		height:40px;
		border-radius: 15px;
		margin:2% 0;
		border:1px solid $blue;
	}
	.s{
		margin-bottom:3%;
	}
}

#type{
  border: 1px solid $blue;
  height: 40px;
  width: 100%;
  margin-bottom:5%;
}

.descriptionEx{
	width:100%;
	border:1px solid $blue;
	height:194px;
	border-radius:15px;
}

.vid-title{
	margin-bottom:5%;
	p, div{
		display:inline;
	}
}

.crear-media{
	margin:5% 0;
	p{
		line-height:2;
		margin-bottom:2%;
	}
}

.vid{
	text-align:center;
}

#zon-ex-sub{
	width:100%;
	padding:8%;
	border:none;
	font-weight:bold;
	background-color:$green;
	border-radius:30px;
	color:$blue;
	position:relative;
	top:145px;
}

#add-zone-wrapper{
	display:none;
}
