@import "home/partials/base";
@import "home/partials/typography";


@import "home/modules/colors";

@import "home/partials/top-nav";


.user-map{
	@include background-image(url(../images/explora/user-map.png));
	@include background-size(cover);
	height:500px;
	margin:2% 0;
}

.explora-subtitle{
	text-align:center;
	font-size:1.3em;
	line-height:1.3em;
	padding:2%;
	strong{
		font-weight:bold;
	}
}


.explora-map{
	@include background-image(url(../images/explora/explora-map-1.png));
	@include background-size(cover);
	height:800px;
	margin:0;
	width:100%;
	position:relative;
}

#barcelona-pin{
	position:absolute;
	top:294px;
	right:212px;
}

.zones{
	padding:0 15px;
}

.explora-exercise-title-wrapper{
  background-color: $blue;
  margin: 0 -30px;
  line-height: 4;
  padding-left: 2%;
  color: white;
  margin-bottom:1%;
}

.explora-exercise-name, .explora-exercise-info{
	line-height:2em;
}