@import "home/partials/base";
@import "home/partials/typography";


@import "home/modules/colors";

@import "home/partials/top-nav";


.routes-list-row{
	margin:0;
}

/*=====bottom menu =======*/

a{
	color:black;
}

.offcanvas-help{
	border-right:1px solid $blue;
}

#bs-example-navbar-collapse-2{
	height:50px;
}

#bottom-bar{
	width:100%;
	position:absolute;
	li{
		border-right:1px solid $blue;
	}
	a{
		padding:14px;
		img{
			height:23px;
			margin:0;
			vertical-align:middle;
		}
	}
}

.bottom{
	margin-bottom:0;
}

.hide{
	visibility:hidden;
	a{
		height:100%;
	}
}

.menu-name{
	padding: 0 10%;
}

#fdb{
	width:18%;
}

#listado, #mapa{
	width:10%;
}

#ordenar{
	width:15%;
	border-left: 1px solid $blue;
	position:relative;
	right:18%;
}

@media screen and (max-width: 1023px) {
	#bottom-bar{
		display:none;
	}
}

/*===possible sidemenu ====*/

.screw{
    width: 17%;
    background-color: #ffffff;
    position: absolute;
    z-index: 1;
    display:none;
}

#menu-search{
	@include border-radius(20px);
    background-color: #f8f8f8;
    color: $blue;
    width:100%;
    margin:5% 0;
}

#province-select{
	@extend #menu-search;

}

.filtro-name{
	font-size:1em;
	font-color:$blue !important;
	font-weight:bold;
	margin-top:5%;
}

.filtro-type{
	line-height:1.5em;
}

.filter{
	margin:5%;
}

.category{
	margin:5% 0;
}

#submit-filters{
	background-color:$green;
	width:100%;
	@include border-radius(20px);
	padding:5% 0;
	font-weight:bold;
	color:$blue;
	@include box-shadow($gray 1px 1px 8px);
}

/*=====Route cards ====*/

.whiteness{
	background-color:white;
	height:150px;
}

.route-info{
	padding:0;
 	p{
		display:inline-block;
	}
}

.route-card{
	 @include box-shadow($gray 1px 1px 8px);
}

.map{
	background-image:url(../images/map.png);
	@include background-size(cover);
	height:100%;
}

.user-image{
	padding:1%;
}

.user-route-card-img{
	height:50px;
	border-radius:50%;
	margin:1%;
}
	

@media screen and (max-width: 768px){
	.left{
		width:100%;
	}

	.middle{
		padding:0 2%;
		width:20%;
		li{
			width:100%;
			margin-bottom:5%;
		}
	}
}

@media screen and (min-width: 980px){
	.navbar-toggle{
		display:none;
	}
}



/*========FEATURED ROUTE=======*/
.featured-route{
	@include background-image(url(../images/featured-route.png));
	@include background-size(cover);
	height:500px;
	margin:5% 0 2%;
	position:relative;
}

.topRow{
	margin-top:50px;
}

.featured-route-card-title{
  font-size: 4.5em;
  font-family: din condensed bold;
  font-style: italic;
  color: white;
  text-shadow: 1px 1px $green;
  border-bottom:1px solid $green;
}

.credits{
	text-align:right;
}

.credit-cost{
  font-size: 3em;
  font-weight: bold;
  position: absolute;
  right: 11%;
  top: -6px;
}

.featured-route-card-subtitle{
  font-style: italic;
  color: white;
  margin: 2% 0;
  font-size: 1.2em;
}

.metrics{
  font-family: din condensed bold;
  font-size: 1.4em;
  font-style: italic;
  color: $blue;
  display: inline;
  padding-right: 1%;
}

.metric-image{
	height:1.4em;
}

.metric-guages{
	position:absolute;
	top:257px;
}

.metric-numbers{
  font-size: 5em;
  font-family: din condensed bold;
  font-style: italic;
  color: $blue;
}

.mins{
	position:absolute;
	bottom:122px;;
}

/*======bought route card =====*/

.bought-route-card {
	background-image: url(../images/bought-route-card.png);
	@include background-size(cover);
	height:221px;
	background-position:right;
	@include box-shadow(gray 1px 1px 8px);
	position:relative;
}

.bought-route-card-title{
	font-family: din condensed bold;
  font-style: italic;
  color: white;
  text-shadow: 1px 1px $green;
  font-size:4em;
  padding:2% 0 0;
}

.bought-title{
	border-bottom:1px solid $green;
}

.bought-route-card-subtitle{
  font-style: italic;
  color: white;
  margin: 1% 0;
  font-size: 1.2em;
}

.bought-metrics{
  font-family: din condensed bold;
  font-size: 1.5em;
  font-style: italic;
  color: $blue;
  display: inline;
  padding-right: 1%;
}

.bought-metric-image{
	height:1.1em;
}

.bought-metric-guages{
	position:absolute;
	bottom:60px;
}

.bought-metric-numbers{
  font-size: 3em;
  font-family: din condensed bold;
  font-style: italic;
  color: $blue;
}

.bought-mins{
	position:absolute;
	bottom:2px;
}



/*-------MAPA USER CARDS--------*/


#routes-map-pane-wrapper{
	display:none;
	padding-top:5%;
}

#routes-map-pane-wrapper{
	margin-bottom:5%;
}

#mapa-mapa{
	width:100%;
}

.mapa-user-card{
	background-color:#fff;
	height:150px;
	margin:5% 0;
	position:relative;
	padding-top:3%;
}

.mapa-user-card-metrics{
	position:absolute;
	bottom:0;
	text-align:center;
	width:100%;
	margin-left:-8px;

}

.mapa-user-card-info{
	display:inline;
	font-size:0.8em;
}

.ind-metric{
	padding:0;
	text-align:center;
}

.met-num{
	font-family:din condensed bold;
	font-size:2em;
	font-style:italic;
}

.mapa-user-card-info{
	font-weight:bold;
}

.its{
	margin:0;
}

.mapa-route-card-list{
	height:941px;
	overflow-y:scroll;
}


.mapa-bought-card{
	@include background-image(url(../images/route/mapa-bought-card.png));
	@include background-size(cover);
	background-position: center center;
	height:244px;
	position:relative;
}

.map-bought-card-title{
  font-family: din condensed bold;
  font-size: 3em;
  color: white;
  font-style: italic;
  text-shadow: 1px 1px $green;
  padding: 5% 0 1% 3%;
}

.mapa-bought-card-title{
  padding-left: 5%;
  color: white;
  font-style: italic;
  font-size: 0.9em;
}

.mapa-bought-metrics{
  text-align: center;
  position: absolute;
  bottom: 29px;
  width: 100%;
  font-family: din condensed bold;
  font-size: 3em;
  font-style:italic;
}

#mapa-bought-card-distance{
	float:right;
	padding-right:7%;
}

#mapa-bought-card-exerciseNum{
	padding-right:29%;
}

.rating-wrapper{
	margin:1% 0;
}

