@import "compass/css3";


$blue: rgba(1,57,76,1);

$green: rgba(216,238,26,1);

$gray: #d7d6d6;


.featured-route-ind-wrapper{
	margin:0 15px 0 15px;
}

.featured-route{
	@include background-image(url(../images/featured-route.png));
	@include background-size(cover);
	height:500px;
	position:relative;
	margin:0;
	width:100%;
}

.topRow{
	margin-top:50px;
}

.featured-route-card-title{
  font-size: 4.5em;
  font-family: din condensed bold;
  font-style: italic;
  color: white;
  text-shadow: 1px 1px $green;
}

.title{
	border-bottom:1px solid $green;
}

.credits{
	text-align:right;
}

.credit-cost{
  font-size: 3em;
  font-weight: bold;
  position: absolute;
  right: 12.5%;
  top: -6px;
}

.featured-route-card-subtitle{
  font-style: italic;
  color: white;
  margin: 2% 0;
  font-size: 1.2em;
}

.metrics{
  font-family: din condensed bold;
  font-size: 1.4em;
  font-style: italic;
  color: $blue;
  display: inline;
  padding-right: 1%;
}

.metric-image{
	height:1.4em;
}

.metric-guages{
	position:absolute;
	top:257px;
}

.metric-numbers{
  font-size: 5em;
  font-family: din condensed bold;
  font-style: italic;
  color: $blue;
}

.mins{
	position:absolute;
	bottom:122px;
}

/*========DESCRIPTION & Characteristics====*/


.desc-title, .char-title{
	padding-top:2%;
	border-bottom:1px solid $blue;
	margin:0 0 2%;
}

.bord{
	padding:0;
}

.char{
	margin-bottom:5%;
}

.desc h2, .char h2{
  font-family: din condensed bold;
  font-size: 3em;
  font-style: italic;
  text-shadow: 1px 1px $green;
  color:$blue;


}

.ruta-opt li{
	display:inline-block;
	border-right:1px solid $blue;
	text-align:center;
	&:last-child{
		border:none;
	}
}


#map{
	height:400px;
	background-color:gray;
}

#map-canvas{
	width:100%;
	height:400px;
}

.desc-text, .char-info{
	line-height:2;
	color:$blue;
}

.type span{
	font-weight:bold;
}

.charac{
	margin-bottom:5%;
}


/*=====zone information====*/

.info-ruta-menu{
  border: 1px solid $blue !important;
  color: $blue;
  border-radius: 13px;

}

.info-ruta-menu-option{
	vertical-align:middle;
	padding:2%;
	&.active{
		background-color:$blue;
		color:white;
	}
}

#info-ruta-desc{
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

#info-ruta-com{
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.zones-row{
	margin:2% 0;
	background-color:$blue;
	padding:1.5% 0;
	color:white;
	border-radius:15px;
}

.in-title{
	display:inline-block;
}

.names span{
	display:block;
}

.zone-title{
	padding-right:5%;
}

.running-guy{
	vertical-align:middle;
	padding-right:1%;
}

.zone-distance{
	color:$green;
	vertical-align:middle;
}

.zone-img{
	text-align:center;
}

#zone-img{
	width:80%;
}

.types p, .name{
	color: $blue;
	line-height:2em;
}

.name{
	font-weight:bold;
}

.desc-name{
	color:$blue;
	font-weight:bold;
	line-height:1.2em;
}

#exercise-title{
	font-weight:bold;
	padding-bottom:1%;
	color:$blue;
}

.exercise-title-wrapper{
	border-bottom:1px solid $blue;
	margin:3%;
	width:96%;
}

.descriptionΕ-title{
	margin:5% 0;
	font-weight:bold;
	color:$blue;
}

.descriptionΕ-text{
	margin:0;
	color:$blue;
	line-height:1.2em;
}

.infosman2{
	float:right;
	margin-bottom:10%;
}

/*-----------USER ROUTE-------*/

#user-photo{
	height:50px;
}

.zone-info-wrapper{
	margin:0 15px;
}

.desc-exer{
	margin: 0 15px;
	padding-bottom:5%;
}

.user-route-title{
	font-size:1.2em;
	line-height:2;
}

.user-route-title-wrapper{
	border-bottom:1px solid $blue;
	margin:0;
	> div{
		padding-left:0;
	}
}

.user-route-title-menu{
	text-align:center;
}


/*coments*/

#route-com{
	display:none;
}


.comment-img{
	height:100px; 
	width:100px; 
	border-radius:50%;
}

.date{
	text-align:right;
}

.comment-title{
	margin:0;
	border-bottom:1px solid $blue;
}

.comment-date{
	margin:0;
}

.comment-title-wrapper{
	h3{
		padding:1% 0;
		text-transform:uppercase;
		font-weight:bold;
	}
}

hr{
	border-color: $blue;
}

#mis-rutas-filtro{
	border:1px solid $blue;
}

.comment-rating{
	padding:0 5%;
}

.content{
	padding:1.5%;
}

.make-comment{
	background-color:$blue;
	color:white;
	padding-bottom:2%;
}

.make-comment-title{
	padding:2% 0;
}

.tit-row{
	text-align:center;
	line-height:2;
	&:first-of-type{
		text-align:right;
	}
}

.new-comment-title{
	padding:1% 0;
}

.new-comment-titled{
	width:100%;
	padding:1%;
	border:1px solid $blue;
	border-radius:30px;
	color:$blue;

}


.new-comment-text{
	border:1px solid $blue;
	border-radius:15px;
	width:100%;
	height:200px;
	color:$blue;
	padding:1%;
}

.new-comment-submit{
  background-color: $green;
  border: none;
  color: $blue;
  padding: 2% 8%;
  margin: 2%;
  border-radius:30px;
}

.button-wrapper{
	text-align:right;
	padding:0;
}



.descargar-ruta{
	  background-color: $green;
	  font-weight:bold;
	  text-transform:uppercase;
  color: $blue;
  border: none;
  padding: 2% 4%;
  border-radius: 30px;
  &:hover{
  	color:$green;
  	background-color:$blue;
  }
}

.descargar-mg{
	background-color:$blue; 
	color:white; 
	text-transform:uppercase; 
	font-weight:bold;
}

.descargar-ruta-button{
	  background-color: $green;
  color: $blue;
  padding: 2% 6%;
  border-radius: 30px;
  border: none;
  text-transform:uppercase;
  font-weight:bold;
}