@import "landing/partials/base";
@import "landing/partials/typography";


@import "landing/modules/colors";


@mixin landing-background($foto-background){
	@include background(image-url($foto-background));
	@include background-size(cover);
	background-position:center center;
	height:100%;
	position:relative;
}

@mixin title-wrapper($img-title){
	@include background(image-url($img-title));
	@include background-size(cover);
	background-repeat:no-repeat;
	font-size: 2.5em;
    color: $green ;
    font-family: din condensed bold;
    height:80px;
}

@mixin list-wrapper($img-list){
	@include background(image-url($img-list));
	@include background-size(cover);
	width:97%;
	font-family:raleway;
	color:$blue;

}

@mixin title-wrapper-left($img-title){
	@include background(image-url($img-title));
	@include background-size(contain);
	background-repeat:no-repeat;
	font-size: 2.5em;
    color: $green ;
    font-family: din condensed bold;
    height:80px;
}

@mixin list-wrapper-left($img-list){
	@include background(image-url($img-list));
	@include background-size(contain);
	width:97%;
	font-family:raleway;
	color:$blue;

}

nav{
	margin-top:1%;
}

.navbar-brand{
	font-size:2.5em;
	font-weight:bold;
}

.nav li a{
	font-size:1.4em;
}

.navbar-nav{
	width:50%;
}

.nav>li{
	width:15%;
	text-align:center;
}

.unete-button{
	border:1px solid $green;
	color: $green;
	background-color:transparent;
	padding:7% 20%;
	border-radius:5px;
	font-size:1.4em;
	&:hover, &:focus, &:visited{
		background-color:transparent;
		color:$blue;
	}
}

.login-button{
	background-color:transparent;
	color:white;
	text-align:center;
	border:none;
	font-size:1em;
	padding:0;
	&:hover, &:active, &:focus{
		background-color:transparent;
	}
}

.login-input{
	display:block;
	margin:0 auto;
}

.header{
	text-align: center;
}

.brand, #register-modal-subtitle{
	text-align:center;
}

.intro{
	@include landing-background("/images/landing/landing-background.png");
}

#title-content-wrapper{
	position:relative;
	top:30%;
}

.title-content, .title-wrapper{
	text-align:center;
}

.landing-title{
	border:none;
}

#title{
	width:75%;
	margin:0 auto;
}

#subtitle{
  color: white;
  font-size: 2.4em;
  margin: 2%;
}

.landing-button{
	background-color:$green;
	color:$blue;
	font-size:1.5em;
	font-weight:bold;
	padding:2% 7%;
	border-radius:15px;
	border:none;
	margin:5%;
}

#unete-gratis{
	background-color:$green;
	color:$blue;
	font-size:1.8em;
	font-weight:bold;
	padding:2% 7%;
	border-radius:60px;
}

.crea{
	@include landing-background("../images/landing/background-crea.png");
}

.ciudad{
	@include landing-background("../images/landing/background-ciudad.png");
}

.trainer{
	@include landing-background("../images/landing/background-trainer.png");
}

.descarga{
	@include landing-background("../images/landing/background-descarga.png");
}

.crea-title-wrapper{
	@include title-wrapper-left("../images/landing/crea-bg-title.png");
}

.crea-list-wrapper{
	@include list-wrapper-left("../images/landing/crea-bg.png");
}

#crea-title, #ciudad-title{
}

.ciudad-title-wrapper{
	@include title-wrapper("../images/landing/ciudad-bg-title.png");
}

.ciudad-list-wrapper{
	@include list-wrapper("../images/landing/ciudad-bg.png");
	float:right;
}

.trainer-title-wrapper{
	@include title-wrapper-left("../images/landing/trainer-bg-title.png");
}

.trainer-list-wrapper{
	@include list-wrapper-left("../images/landing/trainer-bg.png");
}

.descarga-title-wrapper{
	@include title-wrapper("../images/landing/descarga-bg-title.png");
}

.descarga-wrapper{
	@include list-wrapper("../images/landing/descarga-bg.png");
	position:absolute;
	right:0;
	width:96%;
	@include background-size(cover);
	p{
		margin:5%;
	}
}

#descarga{
	margin-top:20%;
}

/*===------lists-----*/

.sub{
  font-size: 1.2em;
  font-weight: bold;
}

.sub-left{
  font-size: 1.2em;
  font-weight: bold;
}

.landing-foto{
	padding:5%;
}

.info{
	margin:5% 0;
	padding: 0;
}

.title{
  position: relative;
  top: 28px;
  font-style:italic;
}

.content-wrapper li{
	padding:5%;
}

.content-wrapper ul{
	padding:5%;
}


.crea-title-wrapper{
	text-align:right;
	padding-right:15%;
}

#crear-rutas{
	float:right;
	margin-right:20%;
}

.ciudad-list{
	margin-left:15%;
}

.sub-ciudad{
	margin-left:-5%;
}

#ciudad-title{
	padding-left:15%;
}

#trainer-title{
	text-align:right;
	padding-right:17%;
}

#crear-perfil{
	position:relative;
	left:29%;
}

#descarga-title{
	padding-left:10%;
}

.modal-dialog{
	width:25%;
}



/*------Unete Modal -----*/

.unete-input, .login-input{
	display:block;
	margin: 2% auto;
	padding:3%;
	width:90%;
	border-radius:30px;
	border:1px solid $blue;
}

.header{}

.modal-footer{
	text-align:center;
}

.hvr-glow{
  border:none;
  background-color: $green;
  color: $blue;
  padding: 3% 8%;
  font-size: 1.1em;
  font-weight: bold;
  border-radius: 10px;
}

#register-modal-subtitle, .header{
	font-weight:bold;
	color:$blue;
	padding:5%;
}

.modal-header{
	background-color:$blue;
	font-weight:bold;
	color:white;
	height:100px;
}

.brand{
	color:$green;
	font-size:1.5em;
	font-weight:bold;
	padding-top:6%;
}







/*------BE TRAINER----*/

.nav-wrapper{
	background-color:$blue;
}

.trainer-img{
	text-align:center;
	margin-top:5%;
}

#trainers{
	position:relative;
	top:2px;
}

.trainer-title{
  font-family: din condensed bold;
  font-style: italic;
  font-size: 3em;
  color: $green;
  background-color: $blue;
  line-height: 2em;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.round{
	background-color:#fff;
	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color:$blue;
    padding-bottom:10%;
    -webkit-box-shadow: 6px 9px 8px -2px rgba(189,189,189,0.67);
	-moz-box-shadow: 6px 9px 8px -2px rgba(189,189,189,0.67);
	box-shadow: 6px 9px 8px -2px rgba(189,189,189,0.67);
}

.titler{
	margin:0 15px 3% 15px;
		border-bottom:1px solid $blue;
}

.eres-title{
	h3{
		padding:3% 0;
	}
}

.bt-puntos-wrapper{
	padding: 0 5%;
}

.subtitles{
		padding-bottom:4%;
		font-weight:bold;
		font-size:1.1em;
	}


.bt-puntos{
	list-style-type:disc;
	padding:0 5%;
	line-height:2.8em;
}

.email{
  border: 1px solid $blue;
  width: 90%;
  line-height: 2em;
  padding: 1%;
  border-radius: 20px;
}

.add{
	padding-top:10%;
}

#bt-archivo{
	padding:5% 0;
}

#esol{
  width: 90%;
  font-weight: bold;
  color: $blue;
  background-color: $green;
  border: none;
  padding: 4%;
  border-radius: 10px;
  margin-top:5%;
}



/*=====app====*/

.app{
	@include background(image-url("/images/app-bkg.png"));
	@include background-size(cover);
	height:100%;
	background-position:center center;
}

#app-title{
	@include background(image-url("/images/bkg-title-app.png"));
	@include background-size(cover);
	height:100%;
}

.title-app{
  color: $green;
  font-family: din condensed bold;
  font-size: 2.2em;
  font-style: italic;
  line-height: 2em;
  padding-left: 10%;
  position:relative;
  top:5px;
}

.subtitle-app{
  color: $blue;
  font-weight: bold;
  width: 80%;
  margin: 0 auto;
  padding: 3%;
}

.app-puntos{
  width: 55%;
  list-style-type: disc;
  margin: 0 auto;
  line-height: 3em;
  color:$blue;
}

.descarga-app{
  width: 61%;
  margin: 0 auto;
  padding: 3% 0px;
  font-weight: bold;
  color: $blue;
}

.tiendas{
	width:60%;
	margin:0 auto;
}