@import "profile/partials/base";
@import "profile/partials/typography";


@import "profile/modules/colors";

@import "profile/partials/top-nav";


$pink: #d1005d;

body{
	color:$blue;
}

/*===Profile main nav====*/

#profile-background{
	background-image: url(../images/profile-background.png);
	@include background-size(cover);
	height:394px;
	width:100%;
}

.user-info-small{
	position:absolute;
	padding:0.5%;
	top:0;
	right:0;
}

#profile-background{
	position:relative;
}

.user-info-top{
	position:absolute;
	top:25%;
}

.logged-user-image{
	display:inline;
	border-radius:50px;
	height:200px;	
}


h2.user-name{
	color:#fff;
	text-transform:uppercase;
	font-weight:bold;
	display:inline;
	position:relative;
	bottom:96px;
	margin-left:10px;
}


.profile-menu-option{
	height:50px;
	text-align:center;
	border-right:1px solid $blue;
	span{
		font-size:0.9em;
		color:$blue;
		position:relative;
		top:18px;
	}
	&:last-child{
		border:none;
	}
	&.active{
		background-color:$blue;
		span{
			color:white;
		}
	}
}

.profile-menu{
	border-bottom:1px solid $blue !important;
}


/*====Mis rutas=====*/

#ruta-map{
	margin:3% 0;
}

#route-map{
	width:100%;
}

.rc{
	margin:3% 0;
}

.bought-cards{
	padding:0;
}

/*====mis rutas menu====*/

.mis-rutas-menu{
	width:70%;
	display:inline-block;
}

.mis-rutas-menu-option{
	display:inline-block;
	width:33%;
	span{
		font-weight:bold;
		text-transform:uppercase;
		color:$blue;
	}
}

#mis-rutas-filtro{
	display:inline-block;
	float:right;
}


/*---Mis Rutas Compradas--*/

#mis-rutas-panes{
	margin-bottom:5%;
}

#mis-rutas-compradas-pane, #mis-rutas-creadas-pane, #mis-rutas-favoritas-pane{	
	border-top:1px solid $blue;
	border-bottom:1px solid $blue;
	background-color:white;
	margin-bottom:5%;
}

#mis-rutas-compradas-pane-wrapper, #mis-rutas-favoritas-pane-wrapper{
	display:none;
}

#comprar-rutas-button{
	margin:2% 0 5%;
}

#comprar-ruta, #crear-ruta,{
	margin-right:1%;
	border-color:1px solid $blue;
	background-color:$green;
	color:$blue;
	font-weight:bold;
	padding:1% 2%;
	border-radius:30px;
}





/* ESTADISTICAS============*/


/*test
.purple{
	background-color:lavender; 
	height:500px; 
	width:100%;
}
*/

.titles{
	text-align:center;
	h2{
		font-weight: bold;
		margin: 15% 0 2%;
		color:$blue;
	}
}

#circle{
	text-align:center;
	position:relative;
	canvas{
		margin:10%;
	}
}

.nivel-percentaje{
	position:absolute;
	top:102px;
	left:159px;
	font-family:din condensed bold;
	p{
		font-size:1.1em;
	}
	strong{
		font-size:3.5em;
	}
}

.estadisticas-menu{
	margin:5% 0;
	border-bottom:1px solid $blue;
}

.estadisticas-menu-option{
	text-align:center;
	font-weight:bold;
	color:$blue;
	padding-bottom:2%;
}

#rutas-completadas li{
	padding:3% 0 1% 4%;
	border-bottom:1px solid $blue;
	color:$blue;
	h3{
		font-weight:bold;
		padding-bottom:3%;
	}
}

.points{
	font-family:din condensed bold;
	font-size:2em;
	font-style:italic;
	color:$pink;
}

.has{
	color:$blue;
	font-weight:bold;
	text-align:center;
}

.lower{
	text-align:center;
	padding-top:8%;
}

.pnum{
	display:inline-block;
	font-family:din condensed bold;
	font-size:4em;
	color:$pink;
	padding-right:2%;
}

.meas{
	display:inline-block;
	font-family:din condensed bold;
	font-size:2em;
}

.recorrido-graphic{
	padding-bottom:5%;
	border-bottom:1px solid #d3d3d3;
	margin:0;
}

.quemado, .entrenado{
	padding:3% 0;
	border-bottom:1px solid #d3d3d3;
	margin:0;
}

.compare{
	color:$blue;
	span{
		font-weight:bold;
	}
}

.equal{
	font-weight:bold;
	padding-bottom:3%;
}

#descargar-estadisticas{
	margin:3% 0 10%;
	background-color:$blue;
	color:#fff;
	border-radius:5px;
	border:none;
	padding:1.2% 2%;
}


/*chart--*/

.ct-series-a .ct-line {
  /* Set the colour of this series line */
  stroke: #d1005d!important;
  /* Control the thikness of your lines */
  stroke-width: 6px;
}

/* This selector overrides the points style on line charts. Points on line charts are actually just very short strokes. This allows you to customize even the point size in CSS */
.ct-series-a .ct-point {
  /* Colour of your points */
  stroke: #d1005d!important;
  /* Size of your points */
  stroke-width: 20px;
  /* Make your points appear as squares */
}




/*--=-----INFO Y AJUSTES------*/


#informacion-profile{
	padding-bottom:10%;
}
.adjusts-gen-title{
	padding-left:15px;
}

#adjusts{
	padding-bottom:10%;
}

.info-title-wrapper{
	border-bottom:1px solid $blue;
	margin:0
}

.info-title{
	font-size:1.2em;
	font-weight:bold;
	padding:1% 0;
	color:$blue;
}

$backgray:#f0f0f0;
$bordergray:#c0c0c0;

#info-adjusts{
	width:85%;
	color:$blue;
	.row{
		margin:0;
	}
	input, select{
		line-height:2em;
		background-color:$backgray;
		border:1px solid $bordergray;
		width:100%;
		color:$blue;
	}
	select{
		height:2.2em;
	}
	button{
  margin: 3% 1%;
  background-color: $blue;
  color: white;
  border: none;
  border-radius: 29px;
  padding: 1.5% 3%;
	}
}

.info-gen-title{
	font-weight:bold;
	color:$blue;
}

.labels{
	padding:2% 0 0.5%;
}

.pref-dep{
	width:85%;
	color:$blue;
	textarea{
		width:40%;
		height:150px;
		background-color: $backgray;
		border: 1px solid $bordergray;
	}
	button{
		margin: 3% 1%;
    	background-color: $blue;
    	color: white;
    	border: none;
    	border-radius: 29px;
    	padding: 1.5% 3%;

	}
	.row{
		margin:0;
	}
}

.pref-labels{
	padding-top:2%;
	padding-bottom:1%;
}

#sportLevel{
	width:20%;
	background-color: $backgray;
	border: 1px solid $bordergray;
	height:2.2em;
}

.email-contrasena{
	width:85%;
	color:$blue;
	.row{
		margin:0 15px;
	}
	.email-input, select{
		line-height:2em;
		background-color:$backgray;
		border:1px solid $bordergray;
		width:40%;
		color:$blue;
	}
	select{
		height:2.2em;
	}
}

.email-button{
	margin: 3% 1%;
    	background-color: $blue;
    	color: white;
    	border: none;
    	border-radius: 29px;
    	padding: 1.5% 3%;
}

.adjusts-gen-title{
	font-weight:bold;
	padding:0;
}



/*========CREDITOS----------*/

.history:nth-child(even){
	background-color:#fff;
}

.history:nth-child(odd){
	background-color:#dfeff5;
}

.creditos-disponibles, .my-history-title{
  margin: 0;
  padding: 3% 0 2%;
  font-weight: bold;
}

.comprar-button{
	margin:0 0 5%;
	input{
		 background-color: $blue;
  		 color: $green;
 		 border: none;
 		 padding: 1% 1.5%;
 		 border-radius: 6px;
	}
}

.creditos-title{
  margin: 0 -15px;
  padding-left: 15px;
  text-align:left;
}

.hist-wrapper{
	padding-top:0;
}

.hist{
	border-bottom: 1px solid $blue;
	line-height:1.5em;
}

.my-history-title{
	text-align:left;
}

.history-menu{
	display:inline;
	text-align:center;
}

.mi{
	border-right:1px solid $blue;
	line-height:1.2em;
	&:last-child{
		border:none;
	}
}

.history{
	line-height:50px;
}

.center{
	text-align:center;
}

.creditos{
	color:red;
}

.pages{
	font-weight:bold;
	text-align:center;
	padding:5% 0;
}





#estadisticas-profile, #creditos-profile,
#informacion-profile{
	display:none;
}
