@import "home";
@import "profile";

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border:1px solid $green;;
  box-shadow:none;
  outline: 0 none;
}

a.btn:visited { 
	border:none;
	box-shadow:none;
	outline:none;
}
a.btn:hover { 
	border:none;
	box-shadow:none;
	outline:none;
}

a.btn:active { 
	border:none;
	box-shadow:none;
	outline:none;
}

a.btn-danger:visited { color: #fff; }

a.btn-primary:visited { color: #fff; }



.has-pretty-child label{
	position:relative;
	bottom:9px;
}