@charset "UTF-8";
/* line 11, ../sass/ind-route-pro.scss */
.featured-route-ind-wrapper {
  margin: 0 15px 0 15px;
}

/* line 15, ../sass/ind-route-pro.scss */
.featured-route {
  background-image: url(../images/featured-route.png);
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: 500px;
  position: relative;
  margin: 0;
  width: 100%;
}

/* line 24, ../sass/ind-route-pro.scss */
.topRow {
  margin-top: 50px;
}

/* line 28, ../sass/ind-route-pro.scss */
.featured-route-card-title {
  font-size: 4.5em;
  font-family: din condensed bold;
  font-style: italic;
  color: white;
  text-shadow: 1px 1px #d8ee1a;
}

/* line 36, ../sass/ind-route-pro.scss */
.title {
  border-bottom: 1px solid #d8ee1a;
}

/* line 40, ../sass/ind-route-pro.scss */
.credits {
  text-align: right;
}

/* line 44, ../sass/ind-route-pro.scss */
.credit-cost {
  font-size: 3em;
  font-weight: bold;
  position: absolute;
  right: 12.5%;
  top: -6px;
}

/* line 52, ../sass/ind-route-pro.scss */
.featured-route-card-subtitle {
  font-style: italic;
  color: white;
  margin: 2% 0;
  font-size: 1.2em;
}

/* line 59, ../sass/ind-route-pro.scss */
.metrics {
  font-family: din condensed bold;
  font-size: 1.4em;
  font-style: italic;
  color: #01394c;
  display: inline;
  padding-right: 1%;
}

/* line 68, ../sass/ind-route-pro.scss */
.metric-image {
  height: 1.4em;
}

/* line 72, ../sass/ind-route-pro.scss */
.metric-guages {
  position: absolute;
  top: 257px;
}

/* line 77, ../sass/ind-route-pro.scss */
.metric-numbers {
  font-size: 5em;
  font-family: din condensed bold;
  font-style: italic;
  color: #01394c;
}

/* line 84, ../sass/ind-route-pro.scss */
.mins {
  position: absolute;
  bottom: 122px;
}

/*========DESCRIPTION & Characteristics====*/
/* line 92, ../sass/ind-route-pro.scss */
.desc-title, .char-title {
  padding-top: 2%;
  border-bottom: 1px solid #01394c;
  margin: 0 0 2%;
}

/* line 98, ../sass/ind-route-pro.scss */
.bord {
  padding: 0;
}

/* line 102, ../sass/ind-route-pro.scss */
.char {
  margin-bottom: 5%;
}

/* line 106, ../sass/ind-route-pro.scss */
.desc h2, .char h2 {
  font-family: din condensed bold;
  font-size: 3em;
  font-style: italic;
  text-shadow: 1px 1px #d8ee1a;
  color: #01394c;
}

/* line 116, ../sass/ind-route-pro.scss */
.ruta-opt li {
  display: inline-block;
  border-right: 1px solid #01394c;
  text-align: center;
}
/* line 120, ../sass/ind-route-pro.scss */
.ruta-opt li:last-child {
  border: none;
}

/* line 126, ../sass/ind-route-pro.scss */
#map {
  height: 400px;
  background-color: gray;
}

/* line 131, ../sass/ind-route-pro.scss */
#map-canvas {
  width: 100%;
  height: 400px;
}

/* line 136, ../sass/ind-route-pro.scss */
.desc-text, .char-info {
  line-height: 2;
  color: #01394c;
}

/* line 141, ../sass/ind-route-pro.scss */
.type span {
  font-weight: bold;
}

/* line 145, ../sass/ind-route-pro.scss */
.charac {
  margin-bottom: 5%;
}

/*=====zone information====*/
/* line 152, ../sass/ind-route-pro.scss */
.info-ruta-menu {
  border: 1px solid #01394c !important;
  color: #01394c;
  border-radius: 13px;
}

/* line 159, ../sass/ind-route-pro.scss */
.info-ruta-menu-option {
  vertical-align: middle;
  padding: 2%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
/* line 164, ../sass/ind-route-pro.scss */
.info-ruta-menu-option.active {
  background-color: #01394c;
  color: white;
}

/* line 170, ../sass/ind-route-pro.scss */
.zones-row {
  margin: 2% 0;
  background-color: #01394c;
  padding: 1.5% 0;
  color: white;
  border-radius: 15px;
}

/* line 178, ../sass/ind-route-pro.scss */
.in-title {
  display: inline-block;
}

/* line 182, ../sass/ind-route-pro.scss */
.names span {
  display: block;
}

/* line 186, ../sass/ind-route-pro.scss */
.zone-title {
  padding-right: 5%;
}

/* line 190, ../sass/ind-route-pro.scss */
.running-guy {
  vertical-align: middle;
  padding-right: 1%;
}

/* line 195, ../sass/ind-route-pro.scss */
.zone-distance {
  color: #d8ee1a;
  vertical-align: middle;
}

/* line 200, ../sass/ind-route-pro.scss */
.zone-img {
  text-align: center;
}

/* line 204, ../sass/ind-route-pro.scss */
#zone-img {
  width: 80%;
}

/* line 208, ../sass/ind-route-pro.scss */
.types p, .name {
  color: #01394c;
  line-height: 2em;
}

/* line 213, ../sass/ind-route-pro.scss */
.name {
  font-weight: bold;
}

/* line 217, ../sass/ind-route-pro.scss */
.desc-name {
  color: #01394c;
  font-weight: bold;
  line-height: 1.2em;
}

/* line 223, ../sass/ind-route-pro.scss */
#exercise-title {
  font-weight: bold;
  padding-bottom: 1%;
  color: #01394c;
}

/* line 229, ../sass/ind-route-pro.scss */
.exercise-title-wrapper {
  border-bottom: 1px solid #01394c;
  margin: 3%;
  width: 96%;
}

/* line 235, ../sass/ind-route-pro.scss */
.descriptionΕ-title {
  margin: 5% 0;
  font-weight: bold;
  color: #01394c;
}

/* line 241, ../sass/ind-route-pro.scss */
.descriptionΕ-text {
  margin: 0;
  color: #01394c;
  line-height: 1.2em;
}

/* line 247, ../sass/ind-route-pro.scss */
.infosman2 {
  float: right;
  margin-bottom: 10%;
}

/*-----------USER ROUTE-------*/
/* line 254, ../sass/ind-route-pro.scss */
#user-photo {
  height: 50px;
}

/* line 258, ../sass/ind-route-pro.scss */
.zone-info-wrapper {
  margin: 0 15px;
}

/* line 262, ../sass/ind-route-pro.scss */
.desc-exer {
  margin: 0 15px;
  padding-bottom: 5%;
}

/* line 267, ../sass/ind-route-pro.scss */
.user-route-title {
  font-size: 1.2em;
  line-height: 2;
}

/* line 272, ../sass/ind-route-pro.scss */
.user-route-title-wrapper {
  border-bottom: 1px solid #01394c;
  margin: 0;
}
/* line 275, ../sass/ind-route-pro.scss */
.user-route-title-wrapper > div {
  padding-left: 0;
}

/* line 280, ../sass/ind-route-pro.scss */
.user-route-title-menu {
  text-align: center;
}

/*coments*/
/* line 287, ../sass/ind-route-pro.scss */
.comment-img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

/* line 293, ../sass/ind-route-pro.scss */
.date {
  text-align: right;
}

/* line 297, ../sass/ind-route-pro.scss */
.comment-title {
  margin: 0;
  border-bottom: 1px solid #01394c;
}

/* line 302, ../sass/ind-route-pro.scss */
.comment-date {
  margin: 0;
}

/* line 307, ../sass/ind-route-pro.scss */
.comment-title-wrapper h3 {
  padding: 1% 0;
  text-transform: uppercase;
  font-weight: bold;
}

/* line 314, ../sass/ind-route-pro.scss */
hr {
  border-color: #01394c;
}

/* line 318, ../sass/ind-route-pro.scss */
#mis-rutas-filtro {
  border: 1px solid #01394c;
}

/* line 322, ../sass/ind-route-pro.scss */
.comment-rating {
  padding: 0 5%;
}

/* line 326, ../sass/ind-route-pro.scss */
.content {
  padding: 1.5%;
}

/* line 330, ../sass/ind-route-pro.scss */
.make-comment {
  background-color: #01394c;
  color: white;
  padding-bottom: 2%;
}

/* line 336, ../sass/ind-route-pro.scss */
.make-comment-title {
  padding: 2% 0;
}

/* line 340, ../sass/ind-route-pro.scss */
.tit-row {
  text-align: center;
  line-height: 2;
}
/* line 343, ../sass/ind-route-pro.scss */
.tit-row:first-of-type {
  text-align: right;
}

/* line 348, ../sass/ind-route-pro.scss */
.new-comment-title {
  padding: 1% 0;
}

/* line 352, ../sass/ind-route-pro.scss */
.new-comment-titled {
  width: 100%;
  padding: 1%;
  border: 1px solid #01394c;
  border-radius: 30px;
  color: #01394c;
}

/* line 362, ../sass/ind-route-pro.scss */
.new-comment-text {
  border: 1px solid #01394c;
  border-radius: 15px;
  width: 100%;
  height: 200px;
  color: #01394c;
  padding: 1%;
}

/* line 371, ../sass/ind-route-pro.scss */
.new-comment-submit {
  background-color: #d8ee1a;
  border: none;
  color: #01394c;
  padding: 2% 8%;
  margin: 2%;
  border-radius: 30px;
}

/* line 380, ../sass/ind-route-pro.scss */
.button-wrapper {
  text-align: right;
  padding: 0;
}
