/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/landing/partials/_base.scss */
.full-width {
  width: 100%;
}

@font-face {
  font-family: "DIN Condensed Bold";
  src: url('/fonts/DIN Condensed Bold.ttf?1434550259') format('truetype');
}
/* line 3, ../sass/landing/partials/_typography.scss */
body {
  font-family: raleway;
}

/* line 7, ../sass/landing/partials/_typography.scss */
nav {
  font-size: 0.8em;
}

/* line 11, ../sass/landing/partials/_typography.scss */
.navbar-inverse .navbar-brand {
  font-size: 2em;
  font-weight: bold;
}

/* line 16, ../sass/landing/partials/_typography.scss */
.number {
  font-family: "DIN Condensed Bold";
  font-size: 2em;
  font-weight: bold;
}

/* line 22, ../sass/landing/partials/_typography.scss */
.route-info p {
  font-size: 0.8em;
}

/* line 11, ../sass/landing/modules/_colors.scss */
.blue {
  background-color: #01394c;
}

/* line 15, ../sass/landing/modules/_colors.scss */
nav {
  color: white;
}

/* line 19, ../sass/landing/modules/_colors.scss */
.navbar-brand {
  color: #d8ee1a !important;
}

/* line 23, ../sass/landing/modules/_colors.scss */
a.btn.btn-default {
  color: #d8ee1a !important;
  border-color: #d8ee1a;
  background-color: #01394c;
}

/* line 29, ../sass/landing/modules/_colors.scss */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: transparent;
  color: #d8ee1a;
}

/* line 36, ../sass/landing/modules/_colors.scss */
.offcanvas {
  color: black;
}

/* line 40, ../sass/landing/modules/_colors.scss */
.bottom {
  border-bottom: 1px solid #01394c;
}

/* line 44, ../sass/landing/modules/_colors.scss */
.bottom-nav {
  background-color: #d7d6d6;
}

/* line 48, ../sass/landing/modules/_colors.scss */
#filtro-busqueda {
  color: #01394c;
}

/* line 52, ../sass/landing/modules/_colors.scss */
.navbar-default .navbar-nav > li > a {
  color: #fff;
}

/* line 56, ../sass/landing/modules/_colors.scss */
.navbar-default {
  background-color: transparent;
  border: none;
}

/* line 61, ../sass/landing/modules/_colors.scss */
.middle {
  background-color: #01394c;
}

/* line 66, ../sass/landing/modules/_colors.scss */
.middle li a {
  color: #fff !important;
}

/* line 70, ../sass/landing/modules/_colors.scss */
#userName a {
  color: #fff;
}

/* line 35, ../sass/landing.scss */
nav {
  margin-top: 1%;
}

/* line 39, ../sass/landing.scss */
.navbar-brand {
  font-size: 2.5em;
  font-weight: bold;
}

/* line 44, ../sass/landing.scss */
.nav li a {
  font-size: 1.4em;
}

/* line 48, ../sass/landing.scss */
.navbar-nav {
  width: 50%;
}

/* line 52, ../sass/landing.scss */
.nav > li {
  width: 15%;
  text-align: center;
}

/* line 57, ../sass/landing.scss */
.unete-button {
  border: 1px solid #d8ee1a;
  color: #d8ee1a;
  background-color: transparent;
  padding: 7% 20%;
  border-radius: 5px;
  font-size: 1.4em;
}
/* line 64, ../sass/landing.scss */
.unete-button:hover, .unete-button:focus, .unete-button:visited {
  background-color: transparent;
  color: #01394c;
}

/* line 70, ../sass/landing.scss */
.login-button {
  background-color: transparent;
  color: white;
  text-align: center;
  border: none;
  font-size: 1em;
  padding: 0;
}
/* line 77, ../sass/landing.scss */
.login-button:hover, .login-button:active, .login-button:focus {
  background-color: transparent;
}

/* line 82, ../sass/landing.scss */
.login-input {
  display: block;
  margin: 0 auto;
}

/* line 87, ../sass/landing.scss */
.header {
  text-align: center;
}

/* line 91, ../sass/landing.scss */
.brand, #register-modal-subtitle {
  text-align: center;
}

/* line 95, ../sass/landing.scss */
.intro {
  background: url('/images/landing/landing-background.png?1435577035');
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 100%;
  position: relative;
}

/* line 99, ../sass/landing.scss */
#title-content-wrapper {
  position: relative;
  top: 30%;
}

/* line 104, ../sass/landing.scss */
.title-content, .title-wrapper {
  text-align: center;
}

/* line 108, ../sass/landing.scss */
#title {
  width: 75%;
  margin: 0 auto;
}

/* line 113, ../sass/landing.scss */
#subtitle {
  color: white;
  font-size: 2.4em;
  margin: 2%;
}

/* line 119, ../sass/landing.scss */
.landing-button {
  background-color: #d8ee1a;
  color: #01394c;
  font-size: 1.5em;
  font-weight: bold;
  padding: 2% 7%;
  border-radius: 15px;
  border: none;
  margin: 5%;
}

/* line 130, ../sass/landing.scss */
#unete-gratis {
  background-color: #d8ee1a;
  color: #01394c;
  font-size: 1.8em;
  font-weight: bold;
  padding: 2% 7%;
  border-radius: 60px;
}

/* line 139, ../sass/landing.scss */
.crea {
  background: url('/images/../images/landing/background-crea.png?1435589468');
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 100%;
  position: relative;
}

/* line 143, ../sass/landing.scss */
.ciudad {
  background: url('/images/../images/landing/background-ciudad.png?1435578294');
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 100%;
  position: relative;
}

/* line 147, ../sass/landing.scss */
.trainer {
  background: url('/images/../images/landing/background-trainer.png?1435589289');
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 100%;
  position: relative;
}

/* line 151, ../sass/landing.scss */
.descarga {
  background: url('/images/../images/landing/background-descarga.png?1435578355');
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 100%;
  position: relative;
}

/* line 155, ../sass/landing.scss */
.crea-title-wrapper {
  background: url('/images/../images/landing/crea-bg-title.png?1435583629');
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 2.5em;
  color: #d8ee1a;
  font-family: din condensed bold;
  height: 80px;
}

/* line 159, ../sass/landing.scss */
.crea-list-wrapper {
  background: url('/images/../images/landing/crea-bg.png?1435583653');
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  width: 97%;
  font-family: raleway;
  color: #01394c;
}

/* line 166, ../sass/landing.scss */
.ciudad-title-wrapper {
  background: url('/images/../images/landing/ciudad-bg-title.png?1435585050');
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 2.5em;
  color: #d8ee1a;
  font-family: din condensed bold;
  height: 80px;
}

/* line 170, ../sass/landing.scss */
.ciudad-list-wrapper {
  background: url('/images/../images/landing/ciudad-bg.png?1435585038');
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  width: 97%;
  font-family: raleway;
  color: #01394c;
  float: right;
}

/* line 175, ../sass/landing.scss */
.trainer-title-wrapper {
  background: url('/images/../images/landing/trainer-bg-title.png?1435585005');
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 2.5em;
  color: #d8ee1a;
  font-family: din condensed bold;
  height: 80px;
}

/* line 179, ../sass/landing.scss */
.trainer-list-wrapper {
  background: url('/images/../images/landing/trainer-bg.png?1435589162');
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  width: 97%;
  font-family: raleway;
  color: #01394c;
}

/* line 183, ../sass/landing.scss */
.descarga-title-wrapper {
  background: url('/images/../images/landing/descarga-bg-title.png?1435585018');
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 2.5em;
  color: #d8ee1a;
  font-family: din condensed bold;
  height: 80px;
}

/* line 187, ../sass/landing.scss */
.descarga-list-wrapper {
  background: url('/images/../images/landing/descarga-bg.png?1435585651');
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  width: 97%;
  font-family: raleway;
  color: #01394c;
}

/*===------lists-----*/
/* line 193, ../sass/landing.scss */
.sub {
  font-size: 1.2em;
  font-weight: bold;
}

/* line 198, ../sass/landing.scss */
.sub-left {
  font-size: 1.2em;
  font-weight: bold;
}

/* line 203, ../sass/landing.scss */
.landing-foto {
  padding: 5%;
}

/* line 207, ../sass/landing.scss */
.info {
  margin: 5% 0;
  padding: 0;
}

/* line 212, ../sass/landing.scss */
.title {
  position: relative;
  top: 28px;
  font-style: italic;
}

/* line 218, ../sass/landing.scss */
.content-wrapper li {
  padding: 5%;
}

/* line 222, ../sass/landing.scss */
.content-wrapper ul {
  padding: 5%;
}

/* line 227, ../sass/landing.scss */
.crea-title-wrapper {
  text-align: right;
  padding-right: 15%;
}

/* line 232, ../sass/landing.scss */
#crear-rutas {
  float: right;
  margin-right: 20%;
}

/* line 237, ../sass/landing.scss */
.ciudad-list {
  margin-left: 15%;
}

/* line 241, ../sass/landing.scss */
.sub-ciudad {
  margin-left: -5%;
}

/* line 245, ../sass/landing.scss */
#ciudad-title {
  padding-left: 15%;
}

/* line 249, ../sass/landing.scss */
#trainer-title {
  text-align: right;
  padding-right: 17%;
}

/* line 254, ../sass/landing.scss */
#crear-perfil {
  position: relative;
  left: 29%;
}

/* line 259, ../sass/landing.scss */
#descarga-title {
  padding-left: 10%;
}

/* line 263, ../sass/landing.scss */
.modal-dialog {
  width: 25%;
}

/*------Unete Modal -----*/
/* line 271, ../sass/landing.scss */
.unete-input, .login-input {
  display: block;
  margin: 2% auto;
  padding: 3%;
  width: 90%;
  border-radius: 30px;
  border: 1px solid #01394c;
}

/* line 282, ../sass/landing.scss */
.modal-footer {
  text-align: center;
}

/* line 286, ../sass/landing.scss */
.hvr-glow {
  border: none;
  background-color: #d8ee1a;
  color: #01394c;
  padding: 3% 8%;
  font-size: 1.1em;
  font-weight: bold;
  border-radius: 10px;
}

/* line 296, ../sass/landing.scss */
#register-modal-subtitle, .header {
  font-weight: bold;
  color: #01394c;
  padding: 5%;
}

/* line 302, ../sass/landing.scss */
.modal-header {
  background-color: #01394c;
  font-weight: bold;
  color: white;
  height: 100px;
}

/* line 309, ../sass/landing.scss */
.brand {
  color: #d8ee1a;
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 6%;
}

/*------BE TRAINER----*/
/* line 324, ../sass/landing.scss */
.nav-wrapper {
  background-color: #01394c;
}

/* line 328, ../sass/landing.scss */
.trainer-img {
  text-align: center;
  margin-top: 5%;
}

/* line 333, ../sass/landing.scss */
#trainers {
  position: relative;
  top: 2px;
}

/* line 338, ../sass/landing.scss */
.trainer-title {
  font-family: din condensed bold;
  font-style: italic;
  font-size: 3em;
  color: #d8ee1a;
  background-color: #01394c;
  line-height: 2em;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* line 350, ../sass/landing.scss */
.round {
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #01394c;
  padding-bottom: 10%;
  -webkit-box-shadow: 6px 9px 8px -2px rgba(189, 189, 189, 0.67);
  -moz-box-shadow: 6px 9px 8px -2px rgba(189, 189, 189, 0.67);
  box-shadow: 6px 9px 8px -2px rgba(189, 189, 189, 0.67);
}

/* line 361, ../sass/landing.scss */
.titler {
  width: 100%;
  margin: 0 auto 3%;
}

/* line 366, ../sass/landing.scss */
.eres-title {
  border-bottom: 1px solid #01394c;
}
/* line 368, ../sass/landing.scss */
.eres-title h3 {
  padding: 3% 0;
}

/* line 373, ../sass/landing.scss */
.bt-puntos-wrapper {
  padding: 0 5%;
}

/* line 377, ../sass/landing.scss */
.subtitles {
  padding-bottom: 4%;
  font-weight: bold;
  font-size: 1.1em;
}

/* line 384, ../sass/landing.scss */
.bt-puntos {
  list-style-type: disc;
  padding: 0 5%;
  line-height: 2.8em;
}

/* line 390, ../sass/landing.scss */
.email {
  border: 1px solid #01394c;
  width: 90%;
  line-height: 2em;
  padding: 1%;
  border-radius: 20px;
}

/* line 398, ../sass/landing.scss */
.add {
  padding-top: 10%;
}

/* line 402, ../sass/landing.scss */
#bt-archivo {
  padding: 5% 0;
}

/* line 406, ../sass/landing.scss */
#esol {
  width: 90%;
  font-weight: bold;
  color: #01394c;
  background-color: #d8ee1a;
  border: none;
  padding: 4%;
  border-radius: 10px;
  margin-top: 5%;
}

/*=====app====*/
/* line 421, ../sass/landing.scss */
.app {
  background: url('/images/app-bkg.png?1435838035');
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  background-position: center center;
}

/* line 428, ../sass/landing.scss */
#app-title {
  background: url('/images/bkg-title-app.png?1435838351');
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
}

/* line 434, ../sass/landing.scss */
.title-app {
  color: #d8ee1a;
  font-family: din condensed bold;
  font-size: 2.2em;
  font-style: italic;
  line-height: 2em;
  padding-left: 10%;
  position: relative;
  top: 5px;
}

/* line 445, ../sass/landing.scss */
.subtitle-app {
  color: #01394c;
  font-weight: bold;
  width: 80%;
  margin: 0 auto;
  padding: 3%;
}

/* line 453, ../sass/landing.scss */
.app-puntos {
  width: 55%;
  list-style-type: disc;
  margin: 0 auto;
  line-height: 3em;
  color: #01394c;
}

/* line 461, ../sass/landing.scss */
.descarga-app {
  width: 61%;
  margin: 0 auto;
  padding: 3% 0px;
  font-weight: bold;
  color: #01394c;
}

/* line 469, ../sass/landing.scss */
.tiendas {
  width: 60%;
  margin: 0 auto;
}
