/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/profile/partials/_base.scss */
.full-width {
  width: 100%;
}

/*----JASNY STUFF --*/
/* line 17, ../sass/profile/partials/_base.scss */
html, body {
  height: 100%;
}

/* line 21, ../sass/profile/partials/_base.scss */
body {
  margin: 0 auto;
  background-color: #ededed;
}

/* line 26, ../sass/profile/partials/_base.scss */
.navbar-toggle {
  float: left;
  margin-left: 15px;
}

@media (min-width: 992px) {
  /* line 33, ../sass/profile/partials/_base.scss */
  body {
    padding: 0;
  }

  /* line 36, ../sass/profile/partials/_base.scss */
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
}
/* line 43, ../sass/profile/partials/_base.scss */
.container {
  padding: 0;
}

/* line 47, ../sass/profile/partials/_base.scss */
.col-xs-10 {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "DIN Condensed Bold";
  src: url('/fonts/DIN Condensed Bold.ttf?1434550259') format('truetype');
}
@font-face {
  font-family: "raleway";
  src: url('/fonts/Raleway-Regular.ttf?1415107620') format('truetype');
}
/* line 5, ../sass/profile/partials/_typography.scss */
body {
  font-family: raleway;
}

/* line 9, ../sass/profile/partials/_typography.scss */
nav {
  font-size: 0.8em;
}

/* line 13, ../sass/profile/partials/_typography.scss */
.navbar-inverse .navbar-brand {
  font-size: 2em;
  font-weight: bold;
}

/* line 18, ../sass/profile/partials/_typography.scss */
.number {
  font-family: "DIN Condensed Bold";
  font-size: 2em;
  font-weight: bold;
}

/* line 24, ../sass/profile/partials/_typography.scss */
.route-info p {
  font-size: 0.8em;
}

/* line 11, ../sass/profile/modules/_colors.scss */
.blue {
  background-color: #01394c;
}

/* line 15, ../sass/profile/modules/_colors.scss */
nav {
  color: white;
}

/* line 19, ../sass/profile/modules/_colors.scss */
.navbar-inverse .navbar-brand {
  color: #d8ee1a;
}

/* line 23, ../sass/profile/modules/_colors.scss */
a.btn.btn-default {
  color: #d8ee1a !important;
  border-color: #d8ee1a;
  background-color: #01394c;
}

/* line 29, ../sass/profile/modules/_colors.scss */
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #01394c;
}

/* line 35, ../sass/profile/modules/_colors.scss */
.offcanvas {
  color: black;
}

/* line 39, ../sass/profile/modules/_colors.scss */
.bottom {
  border-bottom: 1px solid #01394c;
}

/* line 43, ../sass/profile/modules/_colors.scss */
.bottom-nav {
  background-color: #d7d6d6;
}

/* line 47, ../sass/profile/modules/_colors.scss */
#filtro-busqueda {
  color: #01394c;
}

/* line 51, ../sass/profile/modules/_colors.scss */
.navbar-default .navbar-nav > li > a {
  color: #01394c;
}

/* line 55, ../sass/profile/modules/_colors.scss */
.middle {
  background-color: #01394c;
}

/* line 60, ../sass/profile/modules/_colors.scss */
.middle li a {
  color: #fff !important;
}

/* line 64, ../sass/profile/modules/_colors.scss */
#userName a {
  color: #fff;
}

/*=======topnav====*/
/* line 3, ../sass/profile/partials/_top-nav.scss */
.navbar {
  border-radius: 0;
}

/* line 7, ../sass/profile/partials/_top-nav.scss */
.blue {
  height: 65px;
}

/* line 11, ../sass/profile/partials/_top-nav.scss */
.left {
  width: 20%;
}

/* line 15, ../sass/profile/partials/_top-nav.scss */
.middle {
  width: 60%;
}
/* line 17, ../sass/profile/partials/_top-nav.scss */
.middle li {
  width: 20%;
}

/* line 22, ../sass/profile/partials/_top-nav.scss */
a.btn.btn-default {
  height: 48px;
  border-radius: 10px;
  padding: 7.5% 0;
}

/* line 28, ../sass/profile/partials/_top-nav.scss */
.right {
  width: 20%;
  text-align: right;
  position: relative;
  bottom: 50px;
}
/* line 33, ../sass/profile/partials/_top-nav.scss */
.right a span {
  color: #d8ee1a;
}

/* line 39, ../sass/profile/partials/_top-nav.scss */
#userName, #userPhoto {
  display: inline-block;
}

/* line 43, ../sass/profile/partials/_top-nav.scss */
#userPhoto {
  padding: 1% 10% 1% 0;
  height: 45px;
}

/* line 48, ../sass/profile/partials/_top-nav.scss */
.menu-name {
  display: inline;
}

/* line 52, ../sass/profile/partials/_top-nav.scss */
#logged-user-name {
  padding: 5%;
  position: relative;
  top: 18px;
}

/* line 58, ../sass/profile/partials/_top-nav.scss */
#user-dropdown-menu {
  background-color: #01394c;
  position: absolute;
  top: 56px;
  width: 75%;
}
/* line 63, ../sass/profile/partials/_top-nav.scss */
#user-dropdown-menu li a {
  color: #d8ee1a;
  text-align: center;
}

/*===Profile main nav====*/
/* line 13, ../sass/profile.scss */
#profile-background {
  background-image: url(../images/profile-background.png);
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: 394px;
  width: 100%;
}

/* line 20, ../sass/profile.scss */
.logged-user-image {
  display: inline;
  vertical-align: middle;
  margin: 11% 2%;
}

/* line 26, ../sass/profile.scss */
h2.user-name {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  display: inline;
  vertical-align: middle;
}

/* line 35, ../sass/profile.scss */
.profile-menu-option {
  height: 50px;
  text-align: center;
  border-right: 1px solid #01394c;
}
/* line 39, ../sass/profile.scss */
.profile-menu-option span {
  font-size: 0.9em;
  color: #01394c;
  position: relative;
  top: 18px;
}
/* line 45, ../sass/profile.scss */
.profile-menu-option:last-child {
  border: none;
}
/* line 48, ../sass/profile.scss */
.profile-menu-option.active {
  background-color: #01394c;
}
/* line 50, ../sass/profile.scss */
.profile-menu-option.active span {
  color: white;
}

/* line 56, ../sass/profile.scss */
.profile-menu {
  border-bottom: 1px solid #01394c !important;
}

/*====Mis rutas=====*/
/* line 63, ../sass/profile.scss */
#ruta-map {
  margin: 3% 0;
}

/* line 67, ../sass/profile.scss */
#route-map {
  width: 100%;
}

/* line 71, ../sass/profile.scss */
.rc {
  margin: 3% 0;
}

/* line 75, ../sass/profile.scss */
.bought-cards {
  padding: 0;
}

/*====mis rutas menu====*/
/* line 81, ../sass/profile.scss */
.mis-rutas-menu {
  width: 70%;
  display: inline-block;
}

/* line 86, ../sass/profile.scss */
.mis-rutas-menu-option {
  display: inline-block;
  width: 33%;
}
/* line 89, ../sass/profile.scss */
.mis-rutas-menu-option span {
  font-weight: bold;
  text-transform: uppercase;
  color: #01394c;
}

/* line 96, ../sass/profile.scss */
#mis-rutas-filtro {
  display: inline-block;
  float: right;
}

/*---Mis Rutas Compradas--*/
/* line 104, ../sass/profile.scss */
#mis-rutas-panes {
  margin-bottom: 5%;
}

/* line 108, ../sass/profile.scss */
#mis-rutas-compradas-pane, #mis-rutas-creadas-pane, #mis-rutas-favoritas-pane {
  border-top: 1px solid #01394c;
  border-bottom: 1px solid #01394c;
  background-color: white;
  margin-bottom: 5%;
}

/* line 115, ../sass/profile.scss */
#mis-rutas-compradas-pane-wrapper, #mis-rutas-favoritas-pane-wrapper {
  display: none;
}

/* line 119, ../sass/profile.scss */
#comprar-rutas-button {
  margin: 2% 0 5%;
}

/* line 123, ../sass/profile.scss */
#comprar-ruta, #crear-ruta {
  margin-right: 1%;
  border-color: 1px solid #01394c;
  background-color: #d8ee1a;
  color: #01394c;
  font-weight: bold;
  padding: 1% 2%;
  border-radius: 30px;
}

/* ESTADISTICAS============*/
/* line 141, ../sass/profile.scss */
.purple {
  background-color: lavender;
  height: 500px;
  width: 100%;
}

/* line 147, ../sass/profile.scss */
.green {
  background-color: #B8FFDB;
  height: 500px;
  width: 100%;
}

/* line 153, ../sass/profile.scss */
#estadisticas-profile, #creditos-profile,
#informacion-profile {
  display: none;
}
