/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/home/partials/_base.scss */
.full-width {
  width: 100%;
}

/*----JASNY STUFF --*/
/* line 17, ../sass/home/partials/_base.scss */
html, body {
  height: 100%;
}

/* line 21, ../sass/home/partials/_base.scss */
body {
  margin: 0 auto;
  background-color: #ededed;
}

/* line 26, ../sass/home/partials/_base.scss */
.navbar-toggle {
  float: left;
  margin-left: 15px;
}

@media (min-width: 0) {
  /* line 32, ../sass/home/partials/_base.scss */
  .navbar-toggle {
    display: block;
    /* force showing the toggle */
  }
}
@media (min-width: 992px) {
  /* line 38, ../sass/home/partials/_base.scss */
  body {
    padding: 0;
  }

  /* line 41, ../sass/home/partials/_base.scss */
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
}
/* line 48, ../sass/home/partials/_base.scss */
.container {
  padding: 0;
}

/* line 52, ../sass/home/partials/_base.scss */
.col-xs-10 {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "DIN Condensed Bold";
  src: url('/fonts/DIN Condensed Bold.ttf?1434550259') format('truetype');
}
@font-face {
  font-family: "raleway";
  src: url('/fonts/Raleway-Regular.ttf?1415107620') format('truetype');
}
/* line 5, ../sass/home/partials/_typography.scss */
body {
  font-family: raleway;
}

/* line 9, ../sass/home/partials/_typography.scss */
nav {
  font-size: 0.8em;
}

/* line 13, ../sass/home/partials/_typography.scss */
.navbar-inverse .navbar-brand {
  font-size: 2em;
  font-weight: bold;
}

/* line 18, ../sass/home/partials/_typography.scss */
.number {
  font-family: "DIN Condensed Bold";
  font-size: 2em;
  font-weight: bold;
}

/* line 24, ../sass/home/partials/_typography.scss */
.route-info p {
  font-size: 0.8em;
}

/* line 11, ../sass/home/modules/_colors.scss */
.blue {
  background-color: #01394c;
}

/* line 15, ../sass/home/modules/_colors.scss */
nav {
  color: white;
}

/* line 19, ../sass/home/modules/_colors.scss */
.navbar-inverse .navbar-brand {
  color: #d8ee1a;
}

/* line 23, ../sass/home/modules/_colors.scss */
a.btn.btn-default {
  color: #d8ee1a !important;
  border-color: #d8ee1a;
  background-color: #01394c;
}

/* line 29, ../sass/home/modules/_colors.scss */
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #01394c;
}

/* line 35, ../sass/home/modules/_colors.scss */
.offcanvas {
  color: black;
}

/* line 39, ../sass/home/modules/_colors.scss */
.bottom {
  border-bottom: 1px solid #01394c;
}

/* line 43, ../sass/home/modules/_colors.scss */
.bottom-nav {
  background-color: #d7d6d6;
}

/* line 47, ../sass/home/modules/_colors.scss */
#filtro-busqueda {
  color: #01394c;
}

/* line 51, ../sass/home/modules/_colors.scss */
.navbar-default .navbar-nav > li > a {
  color: #01394c;
}

/* line 55, ../sass/home/modules/_colors.scss */
.middle {
  background-color: #01394c;
}

/* line 60, ../sass/home/modules/_colors.scss */
.middle li a {
  color: #fff !important;
}

/* line 64, ../sass/home/modules/_colors.scss */
#userName a {
  color: #fff;
}

/*=======topnav====*/
/* line 3, ../sass/home/partials/_top-nav.scss */
.navbar {
  border-radius: 0;
}

/* line 7, ../sass/home/partials/_top-nav.scss */
.blue {
  height: 65px;
}

/* line 11, ../sass/home/partials/_top-nav.scss */
.left {
  width: 20%;
}

/* line 15, ../sass/home/partials/_top-nav.scss */
.middle {
  width: 60%;
}
/* line 17, ../sass/home/partials/_top-nav.scss */
.middle li {
  width: 20%;
}

/* line 22, ../sass/home/partials/_top-nav.scss */
a.btn.btn-default {
  height: 48px;
  border-radius: 10px;
  padding: 7.5% 0;
}

/* line 28, ../sass/home/partials/_top-nav.scss */
.right {
  width: 20%;
  text-align: right;
  position: relative;
  bottom: 50px;
}
/* line 33, ../sass/home/partials/_top-nav.scss */
.right a span {
  color: #d8ee1a;
}

/* line 39, ../sass/home/partials/_top-nav.scss */
#userName, #userPhoto {
  display: inline-block;
}

/* line 43, ../sass/home/partials/_top-nav.scss */
#userPhoto {
  padding: 1% 10% 1% 0;
  height: 45px;
}

/* line 48, ../sass/home/partials/_top-nav.scss */
.menu-name {
  display: inline;
}

/* line 52, ../sass/home/partials/_top-nav.scss */
#logged-user-name {
  padding: 5%;
  position: relative;
  top: 18px;
}

/* line 58, ../sass/home/partials/_top-nav.scss */
#user-dropdown-menu {
  background-color: #01394c;
  position: absolute;
  top: 56px;
  width: 75%;
}
/* line 63, ../sass/home/partials/_top-nav.scss */
#user-dropdown-menu li a {
  color: #d8ee1a;
  text-align: center;
}

/* line 10, ../sass/home.scss */
.routes-list-row {
  margin: 0;
}

/*=====bottom menu =======*/
/* line 16, ../sass/home.scss */
.offcanvas-help {
  border-right: 1px solid #01394c;
}

/* line 20, ../sass/home.scss */
#bs-example-navbar-collapse-2 {
  height: 50px;
}

/* line 24, ../sass/home.scss */
#bottom-bar {
  width: 100%;
  position: absolute;
}
/* line 27, ../sass/home.scss */
#bottom-bar li {
  border-right: 1px solid #01394c;
}
/* line 30, ../sass/home.scss */
#bottom-bar a {
  padding: 14px;
}
/* line 32, ../sass/home.scss */
#bottom-bar a img {
  height: 23px;
  margin: 0;
  vertical-align: middle;
}

/* line 40, ../sass/home.scss */
.bottom {
  margin-bottom: 0;
}

/* line 44, ../sass/home.scss */
.hide {
  visibility: hidden;
}
/* line 46, ../sass/home.scss */
.hide a {
  height: 100%;
}

/* line 51, ../sass/home.scss */
.menu-name {
  padding: 0 10%;
}

/* line 55, ../sass/home.scss */
#fdb {
  width: 18%;
}

/* line 59, ../sass/home.scss */
#listado, #mapa {
  width: 10%;
}

/* line 63, ../sass/home.scss */
#ordenar {
  width: 15%;
  border-left: 1px solid #01394c;
  position: relative;
  right: 18%;
}

/*===possible sidemenu ====*/
/* line 72, ../sass/home.scss */
.screw {
  width: 17%;
  background-color: #ffffff;
  position: absolute;
  z-index: 1;
  display: none;
}

/* line 80, ../sass/home.scss */
#menu-search, #province-select {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background-color: #f8f8f8;
  color: #01394c;
  width: 100%;
  margin: 5% 0;
}

/* line 93, ../sass/home.scss */
.filtro-name {
  font-size: 1em;
  font-color: #01394c !important;
  font-weight: bold;
  margin-top: 5%;
}

/* line 100, ../sass/home.scss */
.filtro-type {
  line-height: 1.5em;
}

/* line 104, ../sass/home.scss */
.filter {
  margin: 5%;
}

/* line 108, ../sass/home.scss */
.category {
  margin: 5% 0;
}

/* line 112, ../sass/home.scss */
#submit-filters {
  background-color: #d8ee1a;
  width: 100%;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  padding: 5% 0;
  font-weight: bold;
  color: #01394c;
  -moz-box-shadow: #d7d6d6 1px 1px 8px;
  -webkit-box-shadow: #d7d6d6 1px 1px 8px;
  box-shadow: #d7d6d6 1px 1px 8px;
}

/*=====Route cards ====*/
/* line 124, ../sass/home.scss */
.whiteness {
  background-color: white;
  height: 150px;
}

/* line 129, ../sass/home.scss */
.route-info {
  padding: 0;
}
/* line 131, ../sass/home.scss */
.route-info p {
  display: inline-block;
}

/* line 136, ../sass/home.scss */
.route-card {
  -moz-box-shadow: #d7d6d6 1px 1px 8px;
  -webkit-box-shadow: #d7d6d6 1px 1px 8px;
  box-shadow: #d7d6d6 1px 1px 8px;
}

/* line 140, ../sass/home.scss */
.map {
  background-image: url(../images/map.png);
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
}

/* line 146, ../sass/home.scss */
.user-image {
  padding: 1%;
}

@media screen and (max-width: 768px) {
  /* line 152, ../sass/home.scss */
  .left {
    width: 100%;
  }

  /* line 156, ../sass/home.scss */
  .middle {
    padding: 0 2%;
    width: 20%;
  }
  /* line 159, ../sass/home.scss */
  .middle li {
    width: 100%;
    margin-bottom: 5%;
  }
}
@media screen and (min-width: 980px) {
  /* line 167, ../sass/home.scss */
  .navbar-toggle {
    display: none;
  }
}
/*========FEATURED ROUTE=======*/
/* line 175, ../sass/home.scss */
.featured-route {
  background-image: url(../images/featured-route.png);
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: 500px;
  margin: 5% 0 2%;
  position: relative;
}

/* line 183, ../sass/home.scss */
.topRow {
  margin-top: 50px;
}

/* line 187, ../sass/home.scss */
.featured-route-card-title {
  font-size: 4.5em;
  font-family: din condensed bold;
  font-style: italic;
  color: white;
  text-shadow: 1px 1px #d8ee1a;
}

/* line 195, ../sass/home.scss */
.title {
  border-bottom: 1px solid #d8ee1a;
}

/* line 199, ../sass/home.scss */
.credits {
  text-align: right;
}

/* line 203, ../sass/home.scss */
.credit-cost {
  font-size: 3em;
  font-weight: bold;
  position: absolute;
  right: 11%;
  top: -6px;
}

/* line 211, ../sass/home.scss */
.featured-route-card-subtitle {
  font-style: italic;
  color: white;
  margin: 2% 0;
  font-size: 1.2em;
}

/* line 218, ../sass/home.scss */
.metrics {
  font-family: din condensed bold;
  font-size: 1.4em;
  font-style: italic;
  color: #01394c;
  display: inline;
  padding-right: 1%;
}

/* line 227, ../sass/home.scss */
.metric-image {
  height: 1.4em;
}

/* line 231, ../sass/home.scss */
.metric-guages {
  position: absolute;
  top: 257px;
}

/* line 236, ../sass/home.scss */
.metric-numbers {
  font-size: 5em;
  font-family: din condensed bold;
  font-style: italic;
  color: #01394c;
}

/* line 243, ../sass/home.scss */
.mins {
  position: absolute;
  bottom: 122px;
}

/*======bought route card =====*/
/* line 250, ../sass/home.scss */
.bought-route-card {
  background-image: url(../images/bought-route-card.png);
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: 221px;
  background-position: right;
  -moz-box-shadow: gray 1px 1px 8px;
  -webkit-box-shadow: gray 1px 1px 8px;
  box-shadow: gray 1px 1px 8px;
  position: relative;
}

/* line 259, ../sass/home.scss */
.bought-route-card-title {
  font-family: din condensed bold;
  font-style: italic;
  color: white;
  text-shadow: 1px 1px #d8ee1a;
  font-size: 4em;
  padding: 2% 0 0;
}

/* line 268, ../sass/home.scss */
.bought-title {
  border-bottom: 1px solid #d8ee1a;
}

/* line 272, ../sass/home.scss */
.bought-route-card-subtitle {
  font-style: italic;
  color: white;
  margin: 1% 0;
  font-size: 1.2em;
}

/* line 279, ../sass/home.scss */
.bought-metrics {
  font-family: din condensed bold;
  font-size: 1.5em;
  font-style: italic;
  color: #01394c;
  display: inline;
  padding-right: 1%;
}

/* line 288, ../sass/home.scss */
.bought-metric-image {
  height: 1.1em;
}

/* line 292, ../sass/home.scss */
.bought-metric-guages {
  position: absolute;
  bottom: 60px;
}

/* line 297, ../sass/home.scss */
.bought-metric-numbers {
  font-size: 3em;
  font-family: din condensed bold;
  font-style: italic;
  color: #01394c;
}

/* line 304, ../sass/home.scss */
.bought-mins {
  position: absolute;
  bottom: 2px;
}

/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 11, ../sass/profile/partials/_base.scss */
.full-width {
  width: 100%;
}

/*----JASNY STUFF --*/
/* line 17, ../sass/profile/partials/_base.scss */
html, body {
  height: 100%;
}

/* line 21, ../sass/profile/partials/_base.scss */
body {
  margin: 0 auto;
  background-color: #ededed;
}

/* line 26, ../sass/profile/partials/_base.scss */
.navbar-toggle {
  float: left;
  margin-left: 15px;
}

@media (min-width: 992px) {
  /* line 33, ../sass/profile/partials/_base.scss */
  body {
    padding: 0;
  }

  /* line 36, ../sass/profile/partials/_base.scss */
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
}
/* line 43, ../sass/profile/partials/_base.scss */
.container {
  padding: 0;
}

/* line 47, ../sass/profile/partials/_base.scss */
.col-xs-10 {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "DIN Condensed Bold";
  src: url('/fonts/DIN Condensed Bold.ttf?1434550259') format('truetype');
}
@font-face {
  font-family: "raleway";
  src: url('/fonts/Raleway-Regular.ttf?1415107620') format('truetype');
}
/* line 5, ../sass/profile/partials/_typography.scss */
body {
  font-family: raleway;
}

/* line 9, ../sass/profile/partials/_typography.scss */
nav {
  font-size: 0.8em;
}

/* line 13, ../sass/profile/partials/_typography.scss */
.navbar-inverse .navbar-brand {
  font-size: 2em;
  font-weight: bold;
}

/* line 18, ../sass/profile/partials/_typography.scss */
.number {
  font-family: "DIN Condensed Bold";
  font-size: 2em;
  font-weight: bold;
}

/* line 24, ../sass/profile/partials/_typography.scss */
.route-info p {
  font-size: 0.8em;
}

/* line 11, ../sass/profile/modules/_colors.scss */
.blue {
  background-color: #01394c;
}

/* line 15, ../sass/profile/modules/_colors.scss */
nav {
  color: white;
}

/* line 19, ../sass/profile/modules/_colors.scss */
.navbar-inverse .navbar-brand {
  color: #d8ee1a;
}

/* line 23, ../sass/profile/modules/_colors.scss */
a.btn.btn-default {
  color: #d8ee1a !important;
  border-color: #d8ee1a;
  background-color: #01394c;
}

/* line 29, ../sass/profile/modules/_colors.scss */
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #01394c;
}

/* line 35, ../sass/profile/modules/_colors.scss */
.offcanvas {
  color: black;
}

/* line 39, ../sass/profile/modules/_colors.scss */
.bottom {
  border-bottom: 1px solid #01394c;
}

/* line 43, ../sass/profile/modules/_colors.scss */
.bottom-nav {
  background-color: #d7d6d6;
}

/* line 47, ../sass/profile/modules/_colors.scss */
#filtro-busqueda {
  color: #01394c;
}

/* line 51, ../sass/profile/modules/_colors.scss */
.navbar-default .navbar-nav > li > a {
  color: #01394c;
}

/* line 55, ../sass/profile/modules/_colors.scss */
.middle {
  background-color: #01394c;
}

/* line 60, ../sass/profile/modules/_colors.scss */
.middle li a {
  color: #fff !important;
}

/* line 64, ../sass/profile/modules/_colors.scss */
#userName a {
  color: #fff;
}

/*=======topnav====*/
/* line 3, ../sass/profile/partials/_top-nav.scss */
.navbar {
  border-radius: 0;
}

/* line 7, ../sass/profile/partials/_top-nav.scss */
.blue {
  height: 65px;
}

/* line 11, ../sass/profile/partials/_top-nav.scss */
.left {
  width: 20%;
}

/* line 15, ../sass/profile/partials/_top-nav.scss */
.middle {
  width: 60%;
}
/* line 17, ../sass/profile/partials/_top-nav.scss */
.middle li {
  width: 20%;
}

/* line 22, ../sass/profile/partials/_top-nav.scss */
a.btn.btn-default {
  height: 48px;
  border-radius: 10px;
  padding: 7.5% 0;
}

/* line 28, ../sass/profile/partials/_top-nav.scss */
.right {
  width: 20%;
  text-align: right;
  position: relative;
  bottom: 50px;
}
/* line 33, ../sass/profile/partials/_top-nav.scss */
.right a span {
  color: #d8ee1a;
}

/* line 39, ../sass/profile/partials/_top-nav.scss */
#userName, #userPhoto {
  display: inline-block;
}

/* line 43, ../sass/profile/partials/_top-nav.scss */
#userPhoto {
  padding: 1% 10% 1% 0;
  height: 45px;
}

/* line 48, ../sass/profile/partials/_top-nav.scss */
.menu-name {
  display: inline;
}

/* line 52, ../sass/profile/partials/_top-nav.scss */
#logged-user-name {
  padding: 5%;
  position: relative;
  top: 18px;
}

/* line 58, ../sass/profile/partials/_top-nav.scss */
#user-dropdown-menu {
  background-color: #01394c;
  position: absolute;
  top: 56px;
  width: 75%;
}
/* line 63, ../sass/profile/partials/_top-nav.scss */
#user-dropdown-menu li a {
  color: #d8ee1a;
  text-align: center;
}

/*===Profile main nav====*/
/* line 14, ../sass/profile.scss */
#profile-background {
  background-image: url(../images/profile-background.png);
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: 394px;
  width: 100%;
}

/* line 21, ../sass/profile.scss */
.user-info-small {
  position: absolute;
  top: 0;
  right: 0;
}

/* line 27, ../sass/profile.scss */
.logged-user-image {
  display: inline;
  vertical-align: middle;
  margin: 11% 2%;
}

/* line 33, ../sass/profile.scss */
h2.user-name {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  display: inline;
  vertical-align: middle;
}

/* line 42, ../sass/profile.scss */
.profile-menu-option {
  height: 50px;
  text-align: center;
  border-right: 1px solid #01394c;
}
/* line 46, ../sass/profile.scss */
.profile-menu-option span {
  font-size: 0.9em;
  color: #01394c;
  position: relative;
  top: 18px;
}
/* line 52, ../sass/profile.scss */
.profile-menu-option:last-child {
  border: none;
}
/* line 55, ../sass/profile.scss */
.profile-menu-option.active {
  background-color: #01394c;
}
/* line 57, ../sass/profile.scss */
.profile-menu-option.active span {
  color: white;
}

/* line 63, ../sass/profile.scss */
.profile-menu {
  border-bottom: 1px solid #01394c !important;
}

/*====Mis rutas=====*/
/* line 70, ../sass/profile.scss */
#ruta-map {
  margin: 3% 0;
}

/* line 74, ../sass/profile.scss */
#route-map {
  width: 100%;
}

/* line 78, ../sass/profile.scss */
.rc {
  margin: 3% 0;
}

/* line 82, ../sass/profile.scss */
.bought-cards {
  padding: 0;
}

/*====mis rutas menu====*/
/* line 88, ../sass/profile.scss */
.mis-rutas-menu {
  width: 70%;
  display: inline-block;
}

/* line 93, ../sass/profile.scss */
.mis-rutas-menu-option {
  display: inline-block;
  width: 33%;
}
/* line 96, ../sass/profile.scss */
.mis-rutas-menu-option span {
  font-weight: bold;
  text-transform: uppercase;
  color: #01394c;
}

/* line 103, ../sass/profile.scss */
#mis-rutas-filtro {
  display: inline-block;
  float: right;
}

/*---Mis Rutas Compradas--*/
/* line 111, ../sass/profile.scss */
#mis-rutas-panes {
  margin-bottom: 5%;
}

/* line 115, ../sass/profile.scss */
#mis-rutas-compradas-pane, #mis-rutas-creadas-pane, #mis-rutas-favoritas-pane {
  border-top: 1px solid #01394c;
  border-bottom: 1px solid #01394c;
  background-color: white;
  margin-bottom: 5%;
}

/* line 122, ../sass/profile.scss */
#mis-rutas-compradas-pane-wrapper, #mis-rutas-favoritas-pane-wrapper {
  display: none;
}

/* line 126, ../sass/profile.scss */
#comprar-rutas-button {
  margin: 2% 0 5%;
}

/* line 130, ../sass/profile.scss */
#comprar-ruta, #crear-ruta {
  margin-right: 1%;
  border-color: 1px solid #01394c;
  background-color: #d8ee1a;
  color: #01394c;
  font-weight: bold;
  padding: 1% 2%;
  border-radius: 30px;
}

/* ESTADISTICAS============*/
/*test
.purple{
	background-color:lavender; 
	height:500px; 
	width:100%;
}
*/
/* line 155, ../sass/profile.scss */
.titles {
  text-align: center;
}
/* line 157, ../sass/profile.scss */
.titles h2 {
  font-weight: bold;
  margin: 15% 0 2%;
  color: #01394c;
}

/* line 164, ../sass/profile.scss */
#circle {
  text-align: center;
  position: relative;
}
/* line 167, ../sass/profile.scss */
#circle canvas {
  margin: 10%;
}

/* line 172, ../sass/profile.scss */
.nivel-percentaje {
  position: absolute;
  top: 102px;
  left: 159px;
  font-family: din condensed bold;
}
/* line 177, ../sass/profile.scss */
.nivel-percentaje p {
  font-size: 1.1em;
}
/* line 180, ../sass/profile.scss */
.nivel-percentaje strong {
  font-size: 3.5em;
}

/* line 185, ../sass/profile.scss */
.estadisticas-menu {
  margin: 5% 0;
  border-bottom: 1px solid #01394c;
}

/* line 190, ../sass/profile.scss */
.estadisticas-menu-option {
  text-align: center;
  font-weight: bold;
  color: #01394c;
  padding-bottom: 2%;
}

/* line 197, ../sass/profile.scss */
#rutas-completadas li {
  padding: 3% 0 1% 4%;
  border-bottom: 1px solid #01394c;
  color: #01394c;
}
/* line 201, ../sass/profile.scss */
#rutas-completadas li h3 {
  font-weight: bold;
  padding-bottom: 3%;
}

/* line 207, ../sass/profile.scss */
.points {
  font-family: din condensed bold;
  font-size: 2em;
  font-style: italic;
  color: #d1005d;
}

/* line 214, ../sass/profile.scss */
.has {
  color: #01394c;
  font-weight: bold;
  text-align: center;
}

/* line 220, ../sass/profile.scss */
.lower {
  text-align: center;
  padding-top: 8%;
}

/* line 225, ../sass/profile.scss */
.pnum {
  display: inline-block;
  font-family: din condensed bold;
  font-size: 4em;
  color: #d1005d;
  padding-right: 2%;
}

/* line 233, ../sass/profile.scss */
.meas {
  display: inline-block;
  font-family: din condensed bold;
  font-size: 2em;
}

/* line 239, ../sass/profile.scss */
.recorrido-graphic {
  padding-bottom: 5%;
  border-bottom: 1px solid #d3d3d3;
  margin: 0;
}

/* line 245, ../sass/profile.scss */
.quemado, .entrenado {
  padding: 3% 0;
  border-bottom: 1px solid #d3d3d3;
  margin: 0;
}

/* line 251, ../sass/profile.scss */
.compare {
  color: #01394c;
}
/* line 253, ../sass/profile.scss */
.compare span {
  font-weight: bold;
}

/* line 258, ../sass/profile.scss */
.equal {
  font-weight: bold;
  padding-bottom: 3%;
}

/* line 263, ../sass/profile.scss */
#descargar-estadisticas {
  margin: 3% 0 10%;
  background-color: #01394c;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 1.2% 2%;
}

/*--=-----INFO Y AJUSTES------*/
/* line 277, ../sass/profile.scss */
.info-title-wrapper {
  border-bottom: 1px solid #01394c;
  margin: 0;
}

/* line 282, ../sass/profile.scss */
.info-title {
  font-size: 1.2em;
  font-weight: bold;
  padding: 1% 0;
  color: #01394c;
}

/* line 292, ../sass/profile.scss */
#info-adjusts {
  width: 85%;
  color: #01394c;
}
/* line 295, ../sass/profile.scss */
#info-adjusts .row {
  margin: 0;
}
/* line 298, ../sass/profile.scss */
#info-adjusts input, #info-adjusts select {
  line-height: 2em;
  background-color: #f0f0f0;
  border: 1px solid #c0c0c0;
  width: 100%;
  color: #01394c;
}
/* line 305, ../sass/profile.scss */
#info-adjusts select {
  height: 2.2em;
}
/* line 308, ../sass/profile.scss */
#info-adjusts button {
  margin: 3% 1%;
  background-color: #01394c;
  color: white;
  border: none;
  border-radius: 29px;
  padding: 1.5% 3%;
}

/* line 318, ../sass/profile.scss */
.info-gen-title {
  padding: 3% 1% 0;
  font-weight: bold;
  color: #01394c;
}

/* line 324, ../sass/profile.scss */
.labels {
  padding: 2% 0 0.5%;
}

/* line 328, ../sass/profile.scss */
.pref-dep {
  width: 85%;
  color: #01394c;
}
/* line 331, ../sass/profile.scss */
.pref-dep textarea {
  width: 40%;
  height: 150px;
  background-color: #f0f0f0;
  border: 1px solid #c0c0c0;
}
/* line 337, ../sass/profile.scss */
.pref-dep button {
  margin: 3% 1%;
  background-color: #01394c;
  color: white;
  border: none;
  border-radius: 29px;
  padding: 1.5% 3%;
}
/* line 346, ../sass/profile.scss */
.pref-dep .row {
  margin: 0;
}

/* line 351, ../sass/profile.scss */
.pref-labels {
  padding-top: 2%;
  padding-bottom: 1%;
}

/* line 356, ../sass/profile.scss */
#sportLevel {
  width: 20%;
  background-color: #f0f0f0;
  border: 1px solid #c0c0c0;
  height: 2.2em;
}

/* line 363, ../sass/profile.scss */
.email-contrasena {
  width: 85%;
  color: #01394c;
}
/* line 366, ../sass/profile.scss */
.email-contrasena .row {
  margin: 0 15px;
}
/* line 369, ../sass/profile.scss */
.email-contrasena .email-input, .email-contrasena select {
  line-height: 2em;
  background-color: #f0f0f0;
  border: 1px solid #c0c0c0;
  width: 40%;
  color: #01394c;
}
/* line 376, ../sass/profile.scss */
.email-contrasena select {
  height: 2.2em;
}

/* line 381, ../sass/profile.scss */
.email-button {
  margin: 3% 1%;
  background-color: #01394c;
  color: white;
  border: none;
  border-radius: 29px;
  padding: 1.5% 3%;
}

/* line 394, ../sass/profile.scss */
.green {
  background-color: #B8FFDB;
  height: 500px;
  width: 100%;
}

/* line 400, ../sass/profile.scss */
#estadisticas-profile, #creditos-profile,
#informacion-profile {
  display: none;
}

/* line 11, ../sass/explora.scss */
.explora-subtitle {
  text-align: center;
  font-size: 1.3em;
  line-height: 1.3em;
  padding: 2%;
}
/* line 16, ../sass/explora.scss */
.explora-subtitle strong {
  font-weight: bold;
}

/* line 22, ../sass/explora.scss */
.explora-map {
  background-image: url(../images/explora/explora-map-1.png);
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: 800px;
  margin: 0;
  width: 100%;
  position: relative;
}

/* line 31, ../sass/explora.scss */
#barcelona-pin {
  position: absolute;
  top: 294px;
  right: 212px;
}
