/*=======topnav====*/

.navbar{
	border-radius:0;
}

.blue{
	height:65px;
}

.left{
	width:20%;
}

.middle{
	width:60%;
	li{
		width:20%;
	}
}

a.btn.btn-default{
	height:48px;
	border-radius:10px;
	padding:7.5% 0;
}

.right{
	width:20%;
	text-align:right;
	position:relative;
	bottom:50px;
	a span{
			color:$green;

	}
}

#userName, #userPhoto{
	display:inline-block;
}

#userPhoto{
	border-radius:50%;
	height:45px;
	padding:0 !important;
}

.menu-name{
	display:inline;
}

#logged-user-name{
	padding:5%;
	position:relative;
	top:18px;
}

#user-dropdown-menu{
	background-color:$blue;
	position:absolute;
	top:56px;
	width:75%;
	li a{
		color:$green;
		text-align:center;
	}
}

.user-info-small{
	margin-right:15px;
}

